body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Basic styles for dark and light themes that can be customized further with MUI ThemeProvider */
:root {
  --background-default: #fff;
  --text-primary: #000;
}

.dark {
  --background-default: #121212; /* A common dark theme background */
  --text-primary: #fff;
}

body {
  background-color: var(--background-default);
  color: var(--text-primary);
}
